@media screen and (max-width:768px) {
    .cart{
        display: flex;
        flex-direction: column-reverse;
    }
    .offer{
        flex-direction: column;
        text-align: center;
    }
}
@media screen and (max-width:576px) {
    .menu{
        display: block;
    }
    .nav-items{
        display: none;
    }
    .banner-main {
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 5rem;
        gap: 2rem;
    }

    
}