@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.roboto {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.bebasneue {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    font-size: 5rem;
    line-height: 5rem;
    color: rgb(54, 57, 88);
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-size: 1.625rem;
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    max-width: 1090px;
    margin: 0 auto;
    padding: 0 .5rem;
}

img {
    width: 100%;
}

/* Shared styles */
.flex {
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
}

.btn-primary{
    padding: 1rem 2rem;
    border-radius: 10px;
    background-color: rgb(42, 30, 89);
    color: white;
    text-transform: uppercase;
    display: flex;
    gap: .5rem;
}


/* navbar related styles */
header {
    background-color: rgb(255, 255, 244);
}

nav {
    justify-content: space-between;
    padding-top: 3rem;
}

.brand-name {
    max-width: 16rem;
}

.nav-items {
    gap: 3.5rem;
}

.nav-items p {
    font-weight: 500;
}

.menu {
    display: none;
}

/* banner related styles */
.banner-main {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 3rem;
    align-items: center;
    padding-bottom: 8rem;
}

.banner-text-container p {
    color: rgb(62, 62, 62);
    line-height: 1.5rem;
    margin: 1.25rem 0 1.75rem 0;
}

.banner-img-container {
    background-image: url(../Logo/green.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}